<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mbboard.mapper.BoardMapper">
	<!-- 전체 게시글 조회 -->
	<select id="selectBoardListByPage" parameterType="com.example.mbboard.dto.Page"
										resultType="com.example.mbboard.dto.Board">
		SELECT
			board_no boardNo
			, board_title boardTitle
			, board_user boardUser
			, createdate
		FROM board
		<where>
			<if test="searchWord != null and searchWord != ''">
				board_title like concat('%', #{searchWord}, '%')
			</if>
		</where>
		ORDER BY board_no DESC
		LIMIT #{beginRow}, #{rowPerPage}
	</select>
	
	<!-- 총 게시글 수 조회 -->
	<select id="countBoard" resultType="int">
		SELECT count(*) FROM board
		<where>
			<if test="searchWord != null and searchWord != ''">
				board_title LIKE CONCAT('%', #{searchWord}, '%')
			</if>
		</where>
	</select>
	
	<!-- 해당 게시글 상세 조회 -->
	<select id="selectBoardOne" parameterType="int"
								resultType="com.example.mbboard.dto.Board">
		SELECT
			board_no boardNo
			, board_title boardTitle
			, board_content boardContent
			, board_user boardUser
			, updatedate
			, createdate
		FROM board
		WHERE board_no = #{boardNo}
	</select>
	
	<!-- 게시글 등록 -->
	<insert id="insertBoard" parameterType="com.example.mbboard.dto.Board">
		INSERT INTO board (
			board_title, board_content, board_user
		) VALUES (
		 #{boardTitle}, #{boardContent}, #{boardUser}
		)
	</insert>

	<!-- 해당 게시글 수정 -->
	<update id="updateBoard" parameterType="com.example.mbboard.dto.Board">
		UPDATE board
		<set>
			<if test="boardTitle != null">board_title = #{boardTitle},</if>
			<if test="boardContent != null">board_Content = #{boardContent},</if>
			<if test="boardUser != null">board_User = #{boardUser},</if>
		</set>
		WHERE board_no = #{boardNo}
	</update>
	
	<delete id="deleteBoardByKey" parameterType="int">
		DELETE FROM board
		WHERE board_no = ${boardNo}
	</delete>
</mapper>