<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.login_history.mapper.LoginMapper">
	<select id="selectMemberByIdAndPw" parameterType="com.example.login_history.dto.Member" resultType="com.example.login_history.dto.Member">
		SELECT
			id, pw, active
		FROM member
		WHERE id = #{id}
		AND pw = #{pw}
	</select>
	
	<select id="selectDormantMembers" resultType="com.example.login_history.dto.Member">
		SELECT id, email
		FROM member
		WHERE ACTIVE = 'on'
		AND id IN (
					SELECT id
					FROM login_history
					GROUP BY id
					HAVING MAX(logindate) &lt; DATE_SUB(NOW(), INTERVAL 1 YEAR)
					)
	</select>
	
	<update id="updateMemberActiveStatus">
		UPDATE member
		SET active = #{active}
		WHERE id = #{id}
	</update>
	
	<select id="getPwById" resultType="string">
		SELECT pw
		FROM member
		WHERE id = #{id}
	</select>
	
	<update id="updatePw">
		UPDATE member
		SET pw = #{pw1}
		WHERE id = #{id}
	</update>
	
	<update id="insertPwHistory">
		INSERT INTO pw_history (id, pw)
		VALUES (#{id}, #{pw})
	</update>
	
	<delete id="deletePwHistory">
		DELETE FROM pw_history
		WHERE NO IN(
			SELECT NO FROM(
				SELECT NO
						, change_date
						, ROW_NUMBER() OVER (PARTITION BY id ORDER BY change_date DESC) rn
				FROM pw_history) AS rn2
			WHERE rn > 5
		)
	</delete>
</mapper>