<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.login_history.mapper.LoginMapper">
	<select id="selectMemberByIdAndPw" parameterType="com.example.login_history.dto.Member" resultType="com.example.login_history.dto.Member">
		SELECT
			id, pw
		FROM member
		WHERE id = #{id}
		AND pw = #{pw}
		AND active = 'ON'
	</select>
	
	<select id="selectDormantMembers" resultType="com.example.login_history.dto.Member">
		SELECT id, email
		FROM member
		WHERE ACTIVE = 'on'
		AND id IN (
					SELECT id
					FROM login_history
					GROUP BY id
					HAVING MAX(logindate) &lt; DATE_SUB(NOW(), INTERVAL 1 YEAR)
					)
	</select>
	
	<update id="updateMemberActiveStatus">
		UPDATE member
		SET active = #{active}
		WHERE id = #{id}
	</update>
</mapper>