<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.signapp.mapper.SignMapper">
	<insert id="insertSign" parameterType="com.example.signapp.dto.SignForm">
		INSERT INTO sign (id, sign_img)
		VALUES (#{id}, #{signImg})
	</insert>
</mapper>